<mat-toolbar color="primary" class="nav">
    <mat-toolbar-row class="nav_row">
        <div>
            <a mat-button [routerLink]="'/'"><span class="material-icons">pets</span><span class="logo">Petly</span></a>
        </div>
      <div>
        <a mat-button [routerLink]="'/all-sitters'"> Find sitters </a>
        <a mat-button [routerLink]="'/create-sitter'"> Create profile </a>
        <a mat-button [routerLink]="'/login'"> LogIn </a>
        <a mat-button [routerLink]="'/signup'"> SignUp </a>
        <a mat-button [routerLink]="'/sitter'"> Your profile </a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>