<mat-toolbar color="primary" class="nav" (scroll)="onWindowScroll($event)">
  <mat-toolbar-row class="nav_row">
    <div>
      <a mat-button [routerLink]="'/'"
        ><span class="material-icons">pets</span
        ><span class="logo">Petly</span></a
      >
    </div>
    <div>
      <div class="nav-small">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <app-navigation class="burger-menu"></app-navigation>
        </mat-menu>
      </div>

      <app-navigation class="nav-content"></app-navigation>
    </div>
  </mat-toolbar-row>
</mat-toolbar>