<mat-card class="container">
  <mat-card-title class="heading">The Team</mat-card-title>
  <mat-card class="container-item">
    <div class="item-description">
      <mat-card-title>Olena Starchak</mat-card-title>
      <mat-card-content>
        <p>I like reading book, cycling, skydiving, swimming and traveling a lot.</p>
      </mat-card-content>
    </div>
    <img mat-card-image class="item-photo" src="../../assets/developers_photo/58229959.jpg" alt="Olena Starchak">        
  </mat-card>
  <mat-card class="container-item">
    <div class="item-description">
      <mat-card-title>Volodymyr Mliuzan</mat-card-title>
    <mat-card-content>
      <p>I like reading book, cycling, skydiving, swimming and traveling a lot.</p>
    </mat-card-content>
    </div>
    <img mat-card-image class="item-photo" src="../../assets/developers_photo/25880533.jpg" alt="Volodymyr Mliuzan">        
  </mat-card>  
  <mat-card class="container-item">
    <div class="item-description">
      <mat-card-title>Mykhaylo Kuziv</mat-card-title>
    <mat-card-content>
      <p>I like reading book, cycling, skydiving, swimming and traveling a lot.</p>
    </mat-card-content>
    </div>
    <img mat-card-image class="item-photo" src="../../assets/developers_photo/34937248.jpg" alt="Mykhaylo Kuziv">        
  </mat-card>
  <mat-card class="container-item">
    <div class="item-description">
      <mat-card-title>Yurii Petrov</mat-card-title>
    <mat-card-content>
      <p>I like reading book, cycling, skydiving, swimming and traveling a lot.</p>
    </mat-card-content>
    </div>
    <img mat-card-image class="item-photo" src="../../assets/developers_photo/50550970.jpg" alt="Yurii Petrov">        
  </mat-card>
  <mat-card class="container-item">
    <div class="item-description">
      <mat-card-title>Yurii Tykhun</mat-card-title>
    <mat-card-content>
      <p>I like reading book, cycling, skydiving, swimming and traveling a lot.</p>
    </mat-card-content>
    </div>
    <img mat-card-image class="item-photo" src="../../assets/developers_photo/25770285.jpg" alt="Yurii Tykhun">        
  </mat-card>
</mat-card>