<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>type of service</mat-card-subtitle>
    <mat-card-subtitle>type of pet</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      possimus culpa recusandae beatae accusantium impedit ex, aperiam aliquid
      nulla repellat!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>connect</button>
  </mat-card-actions>
</mat-card>
