<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img
        mat-card-image
        src="https://mycoach.link/uploads/coach/20190923/15692616905d89087ab18e84.94207537.png"
        alt="Photo"
        class="user-photo"
      />
    </div>
    <mat-card-title>{{ order.title }}</mat-card-title>
    <mat-card-subtitle>{{ order.services }}</mat-card-subtitle>
    <mat-card-actions
      class="action-card"
      *ngIf="userId !== order.userId && userInfo.isSitter"
    >
      <button mat-button (click)="onOffer(order._id)" class="btn-offer">
        make offer
      </button>
    </mat-card-actions>
  </mat-card-header>

  <br />

  <div class="add-info">
    <mat-card-content>City: {{ order.city }}</mat-card-content>
    <mat-card-content>Pet: {{ order.pet }}</mat-card-content>
  </div>

  <hr />

  <mat-card-content>
    <p>{{ order.info }}</p>
  </mat-card-content>
</mat-card>
