.example-container {
  top: -36px;
  height: 90vh;
}

.create-post {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 15%;
  bottom: 10%;
  border-radius: 20px;
}

.orders{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
