@mixin item($width) {
  margin: 20px;
  width: $width;
  border-radius: 10px;  
  background: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  font-size: large;
  width: 900px;
  margin: auto;
}
.form-sitter {
  display: flex;
}
.input-item {
  @include item($width: 400px);
}
.min-time-example, 
.max-time-example {
  margin: 20px;
  width: 180px;
}
.sitter-photo {
  @include item($width: 400px);
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  height: 202px;

  .img-preview-container {    
    width: auto;
    background-color: #fff;
    position: relative;    

    .img-preview {      
      background: center center no-repeat;
      background-size: cover;
      border-radius: 10px;
      height: 200px;
      width: 200px;
    }
  }
}
.about {
  @include item($width: 844px);  
}
.form-button {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0 20px;
}
