<mat-card class="card">
    <div class="img">
      <ng-container *ngIf="updateInfo.photo; else defaultPhoto">
        <img src="{{updateInfo.photo}}" alt="photo" class="photo">
      </ng-container>
      <ng-template #defaultPhoto>
        <img src="../../assets/img/default-user.png" alt="photo" class="photo">
      </ng-template>
      <button mat-button (click)="switchToUpdate()">Update</button>
    </div>
    <div class="card_header">
        <div class="card_header_title">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <h2 class="title_name">{{user.userName}}</h2>
        </div>
        <mat-tab-group dynamicHeight>
            <mat-tab>
              <ng-template matTabLabel>
                <span><i class="material-icons">account_circle</i> My profile </span>
              </ng-template>
              <div class="profile">
                <div class="profile_title"><i class="material-icons">perm_identity</i>{{user.userName}}</div>
                <div class="profile_title"><i class="material-icons">email</i>{{user.userEmail}}</div>    
                <ng-container *ngIf="updateInfo.years && updateInfo.address && updateInfo.animals">
                  <div class="profile_title"><i class="material-icons">sentiment_satisfied_alt</i>{{updateInfo.years}}</div>
                  <div class="profile_title"><i class="material-icons">location_on </i>{{updateInfo.address}}</div>
                  <div class="profile_title"><i class="material-icons">pets</i>{{updateInfo.animals}}</div>
                </ng-container>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template matTabLabel >
                <span><i class="material-icons">book</i> My responses</span>
              </ng-template>
              <ng-container *ngIf="responses.length > 0; else empty">
                <mat-card class="response" *ngFor="let book of responses">
                  <ng-container *ngIf="book.isBooked && !book.isComplete">
                    <p class="response_text" >
                      {{book.sitterName}} accepted your offer.
                      <span class="material-icons" (click)="onDecline(book['_id'])">delete_forever</span>
                    </p>
                    <p class="message">Your message: {{book.contactInfo}} </p>
                  </ng-container>
                  <ng-container *ngIf="!book.isBooked && !book.isComplete">
                    <p class="response_text">
                      {{book.sitterName}} not replied to your offer yet.
                      <span class="material-icons" (click)="onDecline(book['_id'])">delete_forever</span>
                    </p>
                    <p class="message">Your message: {{book.contactInfo}} </p>
                  </ng-container>
                  <ng-container *ngIf="book.isComplete">
                    <p class="response_text">
                      {{book.sitterName}} completed your order. 
                      <span class="material-icons" (click)="onDecline(book['_id'])">delete_forever</span>
                    </p>
                    <p class="message">Your message: {{book.contactInfo}} </p>
                  </ng-container>
                </mat-card>
              </ng-container>
              <ng-template #empty>
                <p class="empty">You have no active orders or users have not accepted your offers</p>
              </ng-template>
            </mat-tab>
          </mat-tab-group>  
    </div>
</mat-card>