<ng-container *ngFor= "let link of links"> 
  <a mat-button *ngIf="link.link" [ngClass]="link.class" [routerLink]="link.link"> {{ link.text }} </a>
  <a mat-button *ngIf="link.href" [ngClass]="link.class" [href]="link.href" (click)="scrollToElement($event, link.href)"> {{ link.text }} </a>
</ng-container>

<ng-container *ngIf="isUserLoggedIn&&!isSitter" >
  <a mat-button [routerLink]="'/all-sitters'"> Find sitters </a>
  <a mat-button [routerLink]="'/create-sitter'"> Become Sitter </a>
  <a mat-button [routerLink]="'/profile'">Profile</a>
</ng-container>

<!-- <ng-container *ngIf="isUserLoggedIn&&isSitter" >
  <a mat-button [routerLink]="'/all-sitters'"> Find sitters </a>
</ng-container> -->

<ng-container *ngIf="!isUserLoggedIn">
  <a mat-button [routerLink]="'/login'"> LogIn </a>
  <a mat-button [routerLink]="'/signup'"> SignUp </a>
</ng-container>

<a mat-button *ngIf="isUserLoggedIn" (click)="onLogOutClick()"> LogOut </a>
