/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
$teal-app-primary: mat-palette($mat-teal, 800);
$teal-app-accent:  mat-palette($mat-yellow, 700);
$teal-app-warn:    mat-palette($mat-deep-orange, 900);
$teal-app-theme: mat-light-theme($teal-app-primary, $teal-app-accent, $teal-app-warn);
@include angular-material-theme($teal-app-theme);


body { 
    height: calc(100vh - 100px); 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    position: relative; 
}

.login-bg {
    background: url('./assets/img/login_bg.jpg') no-repeat bottom right;
}

.signup-bg {
    background: url('./assets/img/signup_bg.jpg') no-repeat bottom;
    background-size: 35%;
}
.sitter-registration-bg {
    background: url('./assets/img/sit-reg-dog-bg.jpg') no-repeat center left,
    url('./assets/img/sit-reg-parrot.jpg') no-repeat center right,
    url('./assets/img/sit-reg-cat-bg.jpg') no-repeat right bottom;
}
.snack-success {
    background-color: #3f51b5;
}
.snack-error {
    background-color: tomato;
}

.timepicker {

    .timepicker__header {
        background-color: rgb(0, 105, 92) !important;
    }
    
    .clock-face__clock-hand {
        background-color: rgb(0, 105, 92) !important;
    
        &::after {
            background-color: rgb(0, 105, 92) !important;
        }
    
        &::before {
            border-color: rgb(0, 105, 92) !important;
        }
    }
    
    .clock-face__number {
        > span.active {
            background-color: rgb(0, 105, 92) !important;
        }
    }
    
    button:not(.timepicker-dial__item) {
        color: rgb(0, 105, 92) !important;
    }
}