@import '~@angular/material/theming';
@include mat-core();
$teal-app-primary: mat-palette($mat-teal, 800);
$teal-app-accent:  mat-palette($mat-yellow, 700);
$teal-app-warn:    mat-palette($mat-deep-orange, 900);
$teal-app-theme: mat-light-theme($teal-app-primary, $teal-app-accent, $teal-app-warn);
@include angular-material-theme($teal-app-theme);

body { 
    height: calc(100vh - 100px); 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    position: relative;
}

@media screen and (min-width: 1400px) {
    .login-bg {
        background: url('./assets/img/login_bg.jpg') no-repeat bottom right;
    }
    
    .signup-bg {
        background: url('./assets/img/signup_bg.jpg') no-repeat bottom;
        background-size: 35%;
    }
}

@media screen and (max-width: 1399px) {
    .login-bg {
        background: url('./assets/img/login_bg.jpg') no-repeat bottom right;
        background-size: 55%;
    }
    
    .signup-bg {
        background: url('./assets/img/signup_bg.jpg') no-repeat bottom;
        background-size: 30%;
    }
}

.sitter-registration-bg {
    background: url('./assets/img/sit-reg-dog-bg.jpg') no-repeat center left,
    url('./assets/img/sit-reg-parrot.jpg') no-repeat center right,
    url('./assets/img/sit-reg-cat-bg.jpg') no-repeat right bottom;
}

.overlay {
    background: url('./assets/img/spinner.gif') no-repeat center;
}

.snack-success {
    background-color: #3f51b5;
}
.snack-error {
    background-color: tomato;
}