<div *ngIf="!!isEmpty && isEmpty.length > 0 && !!isExist; else profile">
  <mat-card class="card">
    <div class="rate">
      <img src="{{sitter$.photo}}" alt="photo" class="photo">
      <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="sitter$.rate" [size]=2
                 [color]="'#FFC92A'" [wholeStars]="false"></ngx-stars>
      <div *ngIf="sitter$.rate > 0.4" class="rate_num">Rate: {{sitter$.rate | number:'1.0-2'}}/5</div>
      <mat-icon color="primary" (click)="switchToEdit()" class="material-icons profile-edit-btn"
                matTooltip="Edit profile">edit
      </mat-icon>
      <mat-icon color="primary" (click)="openDialog()" class="material-icons profile-delete-btn"
                matTooltip="Delete profile">delete_forever
      </mat-icon>
    </div>
    <div class="profile-container">
      <div class="card_header">
        <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <h2 class="title_name">{{sitter$.userName}}</h2>
        <div>{{sitter$.payment | currency}}</div>
      </div>

      <mat-tab-group dynamicHeight (focusChange)="loadBooks()" class="tab-group">
        <mat-tab>
          <ng-template matTabLabel>
            <span><mat-icon color="primary" class="material-icons">account_circle</mat-icon> My profile </span>
          </ng-template>
          <div class="profile">
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">perm_identity</mat-icon>
              {{sitter$.userName}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">email</mat-icon>
              {{sitter$.userEmail}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">cake</mat-icon>
              {{sitter$.years | date}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">location_on</mat-icon>
              {{sitter$.address}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">attach_money</mat-icon>
              {{sitter$.payment | currency}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">pets</mat-icon>
              {{sitter$.animals.join(', ')}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">settings</mat-icon>
              {{sitter$.services.join(', ')}}</div>
            <div class="profile_title">
              <mat-icon color="primary" class="material-icons">schedule</mat-icon>
              From {{sitter$.availabilityFrom}} to {{sitter$.availabilityTo}}</div>
            <div class="profile_about">
              <div class="profile_about_header">
                <mat-icon color="primary" class="material-icons"> info</mat-icon>
                About me
              </div>
              <div class='profile_about_descr'>{{sitter$.information}}</div>
            </div>

            <mat-accordion class="comments">
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="primary" class="material-icons">comment</mat-icon>
                    Reviews
                  </mat-panel-title>
                  <mat-panel-description>
                    Read comments from other users
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card *ngFor="let comment of comments" class="comments_block">
                  <div>
                    <img mat-card-image src="../../assets/img/default-user.png" alt="user">
                  </div>
                  <div>
                    <span>{{comment.name}}</span>
                    <p>{{comment.comment}}</p>
                  </div>
                </mat-card>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </mat-tab>
        <mat-tab class="request">
          <ng-template matTabLabel>
            <mat-icon color="primary" matBadge="1" matBadgePosition="before"
                      *ngIf="!!book && !book['isComplete']; else noRequests"
                      class="material-icons">work
            </mat-icon>
            <ng-template #noRequests>
              <mat-icon color="primary" class="material-icons">work</mat-icon>
            </ng-template>
            My requests
          </ng-template>
          <mat-card *ngIf="!!book && !book['isComplete']; else noRequests" class="request_block">
            <div style="display: flex; flex-direction: row;">
              <div>
                <img mat-card-image src="../../assets/img/default-user.png" alt="user">
              </div>
              <div>
                <span>{{book['name']}}</span>
                <mat-icon color="accent" *ngIf="isInProcess || book['isBooked']; else complete"
                          style="font-size: 2em;"
                          class="material-icons">hourglass_empty
                </mat-icon>
                <ng-template #complete>
                  <mat-icon color="primary" *ngIf="isCompleteClick"
                            style="font-size: 2em;"
                            class="material-icons">done_outline
                  </mat-icon>
                </ng-template>
                <p>{{book['contactInfo']}}</p>
              </div>
            </div>
            <div class="request_btns">
              <button mat-raised-button [disabled]="isConfirmClick || book['isBooked']"
                      (click)="onConfirm(book['_id'])">
                <mat-icon color="accent">add</mat-icon>
                Confirm
              </button>
              <button mat-raised-button [disabled]="!isConfirmClick && !book['isBooked']"
                      (click)="onComplete(book['_id'])">
                <mat-icon color="primary">done</mat-icon>
                Complete
              </button>
              <button mat-raised-button [disabled]="isConfirmClick || book['isBooked']"
                      (click)="onDecline(book['_id'])">
                <mat-icon color="warn">clear</mat-icon>
                Decline
              </button>
            </div>
          </mat-card>
          <ng-template #noRequests>
            <div style="text-align: center">
              <img src="../../assets/img/isSitter_corgi.gif" alt="dog">
              <h2>You don't have any requests now</h2>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab class="history">
          <ng-template matTabLabel>
            <span><mat-icon color="primary" class="material-icons">history</mat-icon> My history </span>
          </ng-template>
          <div style="text-align: center" *ngIf="!books.length; else history">
            <img src="../../assets/img/isSitter_corgi.gif" alt="dog">
            <h2>History is empty</h2>
          </div>
          <ng-template #history>
            <mat-card *ngFor="let book of books" class="history_block">
              <div>
                <img mat-card-image src="../../assets/img/default-user.png" alt="user">
              </div>
              <div>
                <span><mat-icon color="primary" class="material-icons"> done_outline</mat-icon>
                  {{book.name}}</span>
                <p>{{book.contactInfo}}</p>
              </div>
            </mat-card>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
<ng-template #profile>
  <grape-profile></grape-profile>
</ng-template>




