* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  margin-top: -37px;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-image img {
  height: calc(100vh - 64px);
}

.header-text {
  padding: 130px;
  text-align: center;
  p {
    font-size: 19px;
    font-weight: bold;
  }
  button {
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    border-width: 0;
    border-radius: 45px;
    padding: 16px 26px;
    margin: 34px auto;
  }
}

.wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 60px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 19px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  &__item {
    width: 20%;
  }
}

.about {
  ul {
    list-style-image: url(../../assets/img/paw.png);
    list-style-position: inside;  
  }
  img {
    width: 100%;
    padding: 15px;
  }
}

.services-wrapper {
  display: flex;
  &__item {
    padding: 20px;
    width: 40%;
    margin: auto;
  }
}