<div class="header">
  <div class="header-image">
    <img src="../../assets/img/main.jpg" alt="">
  </div>
  <div class="header-text">
    <h1>Walking with your furry friends</h1>
    <p>Book your appointment today!</p>
    <button mat-button [routerLink]="'/login'">Book now</button>
  </div>
</div>

<div class="main">
  <h1>When nature calls, we are here to answer</h1>
  <p>You can't always predict a crazy day at work, but you can anticipate your dog's needs. Instead of rushing home at lunch, book as to give your dog a 30-minute dog walk. We can stop by as many times as you need - on whatever days you need them.</p>
  <h1>How it works</h1>
  <h3>Contact us</h3>
  <p>Tell about your dog, what it likes, what doesn't like, what types of walks you prefer</p>
  <h3>Meet in person</h3>
  <p>Connect with a dog walker who's a good fit for you, your dog</p>
  <h3>Shedule a date</h3>
  <p>Book dog walker, create a schedule convenient for you and your dog</p>
</div>

<div>
  <h1>About us</h1>
  <p>We are dog valkers with 3+ uears of experience with various dog breeds. We'll be glad to take your furry friends on leng stress-relieving walks regardless of weather conditions.</p>
  <h3>We guarantee</h3>
  <ul>
    <li>Provide dogs' safety and made sure that they do not endanger any other animal or human in the vicinity.</li>
    <li>Pick up dogs from their homes and took them for engaged and attentive walks.</li>
    <li>Follow any special instructions or limitations that dog owners provided.</li>
    <li>Ensure that any waste on the road or sidewalk was cleaned immediately.</li>
  </ul>
</div>

<div>
  <h1>Services & Price</h1>
  <div>
    <h3>Personal walk</h3>
    <p>Does your furry friend prefer walking alone? We can provide personal walk just for him in the best way.</p>
    <h3>Walk in group</h3>
    <p>Your dog can join group walk. Group consists with 5 dogs max, all dogs from good family and totally healthy.</p>
  </div>
</div>